<!DOCTYPE html>
<html lang="en">
<head>
    <title>Webpage Design</title>
    <link rel="stylesheet" href="new.css">
    <title>HTML Video embed</title>
</head>
</html>
  <body>
<div class="main">
     <div class="navbar">
        <div class="icon">                    
        <h2 class="logo">CURELESS BREATHES</h2>
        </div>  

        <div class="flex-container">
          <div class="flex-box"><a href="http://127.0.0.1:5501/index.html">GLOBALLY AFFECTED</a><br>read more</div>
          
        </div>
        <div class="flex-container">
          <div class="flex-box"><a href="http://127.0.0.1:5501/index.html">PHYSICAL DAMAGE</a><br>read more</div>
          
        </div>
        <div class="flex-container">
          <div class="flex-box"><a href="http://127.0.0.1:5501/index.html">QUIT SMOKING</a><br>read more</div>
          
        </div>
       </div>
     </div>
   
        <div class="content">
          <p class="par">"Every time you try to <br> quit smoking you are <br> actually getting closer <br> to staying smoke-free."</p>

        </div>
      
  </body>
</html>