<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href='../static/index.css' />
</head>

<body>

    <nav>
        <a href='/Mujahid'>Project-details</a>
        <a href='/Kaif'>Journey</a>
        <a href='/Faiz'>Smoking</a>
        <a href='/Anas'>Future</a>
        
    </nav>
    
    

    <section>
        <h1>Smoking Detection</h1>
        <br>
        <h4>Detection of smoking using harcascade</h4>
        
        <br><br>
        <form action="{{url_for('after')}}" method="POST" enctype="multipart/form-data">
            <input type="file" class="file" name="file1">
            
            <input type="submit" class="submit" value="Upload">
            <p class="cont" >Choose image file to upload</p>
        </form>
    </section>
    
    
    <footer>
        
        <p class="foot">© 2021 Smoking Detection</p>

    </footer>

</body>

</html>