<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Smoking Detection</title>
</head>
<body>
    <nav><div class="nav">
        <img class="dropbtn" src="{{url_for('static', filename='menu.png')}}">

        <div class="drop-cnt">
            <a href='/'>Home</a>
            <a href='/Mujahid'>Project-details</a>
            <a href='/Kaif'>Har vs Yolo</a>
            <a href='/Faiz'>Harcasacde</a>
            <a href='/Anas'>Smoking</a>
    </div>
    </nav></div>

    <br>
    <section>
        <div class="sec2">
            
            <h1>Smoking Detection using YOLO CNN MODEL</h1>
        
        </div>
        <br><br><br><br><br>
        <div class="video" >
            <input type="submit" onclick="st()" style="margin: 10px; transform: translateY(400px); " id="strt" class="submit" value="Satrt">
            <!-- <input type="submit" onclick="sp()" id="stp" class="submit" name="stp" value="stop"  style="margin: 10px; transform: translateY(400px); "> -->
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <a href="/" class="submit" style=" padding:10px; color: white; border: 1px solid orange; margin: 10px;text-decoration: none;" >Stop</a>
            <img id="im" src="{{url_for('yvd_feed')}}" style=" width: 50%; display: none;  padding: 10px;margin-left: 25%; "  >
            </div>
            
</body>
<script>
          
    function st(){
              document.getElementById("im").style.display="block";
          }
    function sp(){
        document.getElementById("im").style.display="none";
    }
</script>

</html>